extends base

block _head
  link(rel="stylesheet", href="/css/forgotpassword.css")
  link(rel="icon", href="/img/icons/send.png", type="image/x-icon")

block content
    .alert-window    
    .container
      .window
        .icon-div
          img.icon(src="/img/icons/web-design.png")
        .text-content
          p.txt-forgot Forgot Passsword?
          p.txt No worries,we&apos;ll send you reset instruction.
        form.forgot-pass-form
          label(for="email") Email
          input.email-field.forgot-email-field(type="email", placeholder="E.g. jhonas@gmail.com")
          button.send-email Send
        .link-div
          p    
            a.link(href='/') Back to login