extends base

block _head
  link(rel="stylesheet", href="/css/resetpassword.css")
  link(rel="icon", href="/img/icons/send.png", type="image/x-icon")

block content
     .alert-window   
     .container
      .window
        .icon-div
          img.icon(src="/img/icons/key.png")
        .text-content
          p.txt-forgot Set new password
          p.txt Reset token send to your email address please check!.
        form.reset-pass-form
          label(for="token") Reset token
          input#token.reset-inp(type="text",name='token' placeholder="token")
          label(for="password") Password
          input#password.reset-inp(type="password", name='password', placeholder="••••••••••")
          label(for="confirmpassword") Reset token
          input#confirmpassword.reset-inp(type="password",name='confirmpassword' ,placeholder="••••••••••")
          button.send-email Submit
        .link-div
          p  
            a.link(href='/') Back to login