@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{

    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    
}
.window{
    flex: 1;
    margin-top: 35px;
   
    max-width: 400px;
    height: 400px;
   
}
.icon-div{
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}
.icon{ 
    width: 35px;
}
.text-content{
    text-align: center;
    
}
.txt-forgot{
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.txt{
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.reset-pass-form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 5px;
    margin-left: 15px;
    margin-right: 15px; 
}
.reset-inp{
 padding-left: 15px;
 padding-top: 10px;
 padding-bottom: 10px;
 border-radius: 3px;
 border: solid 1px;

}
.reset-inp::placeholder{
    font-size: 15px;
}
.send-email{
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 15px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: #5783db;
}
.link{
    color: #5783db;
    cursor: pointer;
}
.link-div{
    text-align: center;
    margin-top: 16px;

}
.alert-window{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 20%;
    right: 20%;
}
body{
    position: relative;
}
.alert--success{
  background-image: linear-gradient(to top, #89e23c 0%, #00e3ae 100%);
  color:  white;
  font-size: 25px;
  width: 500px;
  text-align: center;
  padding-bottom: 28px;
  padding-top: 5px;
  border-radius: 0px 0px 20px 20px ;
  
}
.link{
    text-decoration: none;
}
.alert--error{
    background-color:brown;
    color:  white;
    font-size: 25px;
    width: 500px;
    text-align: center;
    padding-bottom: 28px;
    padding-top: 5px;
    border-radius: 0px 0px 20px 20px ;
    
  }
@media (max-width: 480px){
    .window{
      max-width: 100%;
 
    }
 }